#page-menu > a{
    color:#EEEEEE;
    text-decoration: none;
    font-size:1.2em;
}
#mobile-menu{
    transition:transform 200ms;
}

@media only screen and (max-width: 1080px) {
    .fix-floater{
        position:fixed !important;
        top:0;
        width:100%;
    }
    #cost-floater br{
        display:none;
    }
    #book-now-button{
        font-size:1em;
        margin-left:10px;
    }
    #cost-floater{
        position:relative;
    }
}

@media only screen and (max-width: 980px) {
    .page-content{
        width:100%;
        text-align: center;
    }

    /*    #page-header{
            background-color:#222222;
        }*/

    #page-nav{
        width:100%;
        float:none;
        line-height:normal;
        padding:20px 0px 20px 0px;
        text-align: center;
    }

    /*center logo*/
    #page-header .page-content > div{
        text-align: center;
    }

    .slideshow-reel > div{
        height:auto !important;
    }
    .slideshow-reel > div > img{
        width:100%;
    }

    .slide-feature{
        margin-top:5px;
    }

    #page-footer .page-content > div{
        width:30%;
    }

    .left-wing, .right-wing{
        display:none;
    }

    /*Photo booth page*/
    .photobooth-page .image-text{
        width:45%;
        padding-right:10px;
    }
    .photobooth-page #props-table{
        width:50%;
    }
    .photobooth-page #photo-album{
        width:100%;
    }

    /*our story page*/
    .ourstory-page #cityscape{
        width:100%;
    }
    .ourstory-page p{
        padding-left:10px;
        padding-right:10px;
    }
    .bx-wrapper img{
        height: 90%;
        width: 90%;
    }
    .bx-wrapper, .bx-viewport {
        max-height: 650px !important;
    }
}

@media (max-width: 767px) {
    .full-background {
        background-image: url('../videos/promo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        /*background-size: cover;*/
        height: 600px;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    }

    /*    .video {
            display: none;
        }*/
    /*    #promo-video{
            width: 100%;
            height: 100%;
        }*/
}

@media only screen and (max-width: 690px) {
    #page-footer{
        height:auto !important;
        padding:20px !important;
    }
    #page-footer .page-content > div{
        display:block;
        float:none;
        margin:0px auto 0px auto !important;
        width:100%;
        margin-top:20px !important;
        max-width:250px;
    }
    #page-footer .page-content > div:first-child{
        margin-top:0px !important;
    }

    /*nav bar start*/
    #page-menu{display:block !important;}
    #mobile-menu{
        display:inline-block !important;
    }

    #page-nav li{
        display:inline-block;
        padding:10px !important;
        width:100%;
        margin:0px !important;
    }
    #page-nav li a{
        width:100% !important;
    }

    .dropdown{
        width:100%;
        position: static;
    }
    .dropdown .arrow-up{
        display:none;
    }
    .dropdown li{
        padding:0px !important;
    }

    #page-nav{
        transition:all 300ms;
    }
    #page-nav.mobile-hidden{
        display:none;
    }
    #props-table{
        width:100% !important;
        float:none !important;
    }

    /*photo booths page*/
    .photobooth-page .image-text{
        padding:10px;
        float:none;
        margin:10px auto 0px auto;
        width:80%;
    }
    .photobooth-page #photo-album{
        width:100%;
    }

    /*price builder*/
    .price-builder-page .image-button{
        margin-left:0px !important;
    }

    /*our story*/
    .ourstory #summary{
        padding:5px;
    }
    .ourstory-page div.page-content h2{
        margin-top:30px;
        text-align:center;
        padding:0px !important;
    }

    .site-address{
        display:inline-block !important;
    }
    .phone-address{
        float:none;
        display:inline-block !important;
    }

    .site-address img{
        width:22px;
    }
    .location-map-area .clear{
        display:none;
    }
    .location-map-area .phone-address{
        vertical-align: top;
        margin-left:20px;
    }
    .mobile-view-only{
        display: block;
        visibility: visible;
    }
    #page-header a > img{
        width: 35%;
    }
    .more-info .info-content img{
        max-width: 100%;
    }
    #page-menu{
        top: 1.5em;
        right: 1.5em;
        position: absolute;
    }
    #mobile-menu{
        font:1.3em "OswaldBold";
        border-radius: .25em;
        background: #0066cc;
        color:#FFF;
        padding: 8px;
        width:90px;
        height:30px;
        vertical-align: middle;
        line-height:30px;
    }
    #mobile-menu span{
        font-size:1.1em;
        font-family:serif;
    }

    .location-address-box{
        margin:20px 0px;
    }
    .location-map-area{
        padding:10px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:500px){
    #page-logo-box{
        text-align: left !important;
    }
    .location-map-area .clear{
        display:block !important;
    }
    .location-map-area .phone-address{
        vertical-align: middle !important;
        margin-left:0px;
    }
    #page-header a > img{
        width: 50%;
        float: none;
    }
    .more-info .info-content img{
        max-width: 100%;
    }

    .extra-controls {
        text-align: center !important;
    }
    .extra-controls button{
        min-width:90%;
    }
    .extra-controls .information-button{
        display:block;
        margin:0px auto;
        clear:both;
        font-size:1.2em;
    }
    .extra-controls button:last-child{
        display:block;
        margin:5px auto 0px auto;
        font-size:1.2em;
    }
    .post-wrapper div{
        float: none;
        width: 100%;
    }
    .post-wrapper .post-thumb{
        margin-bottom: 10px;
    }
    .bx-wrapper img{
        margin: auto;
    }
    #corporate-clients{
        height:auto;
        min-width:300px;
    }
    #corporate-clients .info-box-left{
        margin:0px auto;
    }
    .counter{
        float:left;
        width: 34%;
    }
    .floating-shopping-guide{
        font-size: .8em;
    }
}

@media only screen and (max-width:375px){
    #page-menu{
        top: .75em;
        right: .75em;
    }
}
